{deps, [
	{erl_spatial, ".*", {git, "git@github.com:cloudant/erl_spatial",
                                                {tag, "1.0.1"}}},
	{wkb_writer, ".*", {git, "git@github.com:cloudant/wkb_writer",
						{tag, "1.0.0"}}}
]}.
{erl_opts, [debug_info, warnings_as_errors, {i, "../dbcore/apps"}, {i, "../dbcore/deps"}]}.
